body {
<<<<<<< HEAD

=======
>>>>>>> 4eba1b32bb7fe481d4d2f0e0b719427e9fb0a0ed
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
<<<<<<< HEAD
#index-logo{
	margin-left: 20px;
} 
=======
#map {
        height: 80vh;
        width: 100%;
       }
>>>>>>> 4eba1b32bb7fe481d4d2f0e0b719427e9fb0a0ed
